<template>
  <section>
    <b-navbar type="is-dark">
      <template #brand>
        <b-navbar-item tag="router-link" :to="{ path: '/' }">
          <img src="bogau.jpg" alt="Website dự báo chứng khoán Việt Nam" />
        </b-navbar-item>
      </template>
      <template #start>
        <b-navbar-item href="/"> Trang chủ </b-navbar-item>

        <b-navbar-item
          @click="
            open = true;
            $refs.candleRealRef.change_toolbar(false);
          "
        >
          Dữ liệu
        </b-navbar-item>

        <b-navbar-item @click="$router.push('/chartpredict')">
          Dự báo
        </b-navbar-item>
      </template>

      <template #end>
        <b-navbar-item tag="div">
          <div class="buttons">
            <UserStatus />
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>

    <b-sidebar
      type="is-white"
      :fullheight="fullheight"
      :fullwidth="fullwidth"
      :overlay="overlay"
      :right="right"
      v-model="open"
      @close="$refs.candleRealRef.change_toolbar(true)"
    >
      <div class="p-1">
        <img src="bogau.jpg" alt="Website dự báo chứng khoán Việt Nam" />
        <b-menu>
          <b-field>
            <b-select
              v-model="hex_code"
              placeholder="MÃ CHỨNG KHOÁN"
              :expanded="isHidden"
            >
              <option
                v-for="(opt, index) in options.symbol"
                :value="opt"
                :key="-index"
              >
                {{ code_info[index] }}
              </option>
            </b-select>
          </b-field>

          <div class="buttons">
            <b-button
              type="is-primary"
              expanded
              @click="
                closeSocket(String(hex_code).toUpperCase());
                $refs.candleRealRef.candleDataRealTime(
                  String(hex_code).toUpperCase()
                );
                $refs.candleRealRef.change_toolbar(true);
                open = false;
              "
              >Search</b-button
            >
          </div>
        </b-menu>
      </div>
    </b-sidebar>

    <DataRealTime
      v-show="true"
      ref="candleRealRef"
      :hexData="String(hex_code).toUpperCase()"
    />
  </section>
</template>

<script>
import DataRealTime from "../components/DataRealTime.vue";
import UserStatus from "../components/UserStatus.vue";
import { mapGetters } from "vuex";
import axios from "axios";
export default {
  name: "ChartLogin",
  components: {
    DataRealTime,
    UserStatus,
  },
  computed: {
    ...mapGetters(["statusLogin", "username"]),
  },
  methods: {
    loopPics() {
      this.$router.push("/image");
    },
    closeSocket(hexCode) {
      this.$socket.off(this.old_hex);
      this.old_hex = hexCode;
    },
    getSymbol() {
      axios
        .get("symbol_code.json")
        .then((dataAll) => {
          const dataC = dataAll.data;
          this.options = dataC;
          //console.log(this.options.name.length)
          let code_info = [];
          let code_index;
          for (let i = 0; i < dataC.name.length; i++) {
            code_index = dataC.symbol[i] + "\t-\t" + dataC.name[i];
            code_info.push(code_index);
          }
          this.code_info = code_info;
        })
        .catch(() => {
          console.log("Error while loading symbols");
        });
    },
  },
  mounted() {
    if (this.username == "admin") {
      this.isHidden = true;
    }
  },
  data() {
    this.getSymbol();

    return {
      isHidden: false,

      model_i: null,
      old_hex: null,
      hex_code: null,
      options: [],
      code_info: [],
      open: true,
      overlay: true,
      fullheight: true,
      fullwidth: false,
      right: true,
    };
  },
};
</script>

<style>
.p-1 {
  padding: 1em;
}
</style>
