<template>
  <section>
    <b-navbar type="is-dark">
      <template #brand>
        <b-navbar-item tag="router-link" :to="{ path: '/' }">
          <img src="bogau.jpg" alt="Website dự báo chứng khoán Việt Nam" />
        </b-navbar-item>
      </template>
      <template #start>
        <b-navbar-item href="/"> Trang chủ </b-navbar-item>

        <b-navbar-item @click="$router.push('/chartrealtime')">
          Dữ liệu
        </b-navbar-item>

        <b-navbar-item
          @click="
            open = true;
            $refs.candleRef.change_toolbar(false);
          "
        >
          Dự báo
        </b-navbar-item>
      </template>

      <template #end>
        <b-navbar-item tag="div">
          <div class="buttons">
            <UserStatus />
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>

    <b-sidebar
      type="is-white"
      :fullheight="fullheight"
      :fullwidth="fullwidth"
      :overlay="overlay"
      :right="right"
      v-model="open"
      @close="$refs.candleRef.change_toolbar(true)"
    >
      <div class="p-1">
        <img src="bogau.jpg" alt="Website dự báo chứng khoán Việt Nam" />
        <b-menu>
          <b-field>
            <b-select
              v-model="model_i"
              placeholder="MÔ HÌNH DỰ BÁO"
              :expanded="true"
            >
              <option
                class="input_class"
                v-for="(value, index) in all_model"
                :value="value.value"
                :key="index"
              >
                {{ value.text }}
              </option>
            </b-select>
          </b-field>

          <b-field>
            <b-select
              v-model="hex_code"
              placeholder="MÃ CHỨNG KHOÁN"
              :expanded="isHidden"
            >
              <option
                v-for="(opt, index) in options.symbol"
                :value="opt"
                :key="-index"
              >
                {{ code_info[index] }}
              </option>
            </b-select>
          </b-field>

          <div class="buttons">
            <b-button
              type="is-primary"
              expanded
              @click="
                $refs.candleRef.candleData(
                  String(hex_code).toUpperCase(),
                  model_i
                );
                $refs.candleRef.change_toolbar(true);
                open = false;
              "
              >Search</b-button
            >
          </div>
        </b-menu>
      </div>
    </b-sidebar>

    <CandleChart
      v-show="true"
      ref="candleRef"
      :hexData="String(hex_code).toUpperCase()"
    />
  </section>
</template>

<script>
import CandleChart from "../components/CandleChart.vue";
import UserStatus from "../components/UserStatus.vue";
import { mapGetters } from "vuex";
import axios from "axios";
export default {
  name: "ChartLogin",
  components: {
    CandleChart,
    UserStatus,
  },
  computed: {
    ...mapGetters(["statusLogin", "username"]),
  },
  methods: {
    loopPics() {
      this.$router.push("/looppics");
    },
    loading() {
      const loadingComponent = this.$buefy.loading.open({
        container: null,
      });
      setTimeout(() => loadingComponent.close(), 1.5 * 1000);
    },
    getSymbol() {
      axios
        .get("symbol_code.json")
        .then((dataSymbols) => {
          let dataC = dataSymbols.data;
          this.options = dataC;
          let code_info = [];
          let code_index;
          for (let i = 0; i < dataC.name.length; i++) {
            code_index = dataC.symbol[i] + "\t-\t" + dataC.name[i];
            code_info.push(code_index);
          }
          this.code_info = code_info;
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  mounted() {
    if (this.username == "admin") {
      this.isHidden = true;
    }
  },
  data() {
    this.getSymbol();

    var options_select = [
      { value: "lstm", text: "LSTM" },
      { value: "gru", text: "GRU" },
      { value: "cnn", text: "CNN" },
    ];
    return {
      isHidden: false,

      model_i: null,
      hex_code: null,
      options: [],
      code_info: [],
      all_model: options_select,
      open: true,
      overlay: true,
      fullheight: true,
      fullwidth: false,
      right: true,
    };
  },
};
</script>

<style>
.p-1 {
  padding: 1em;
}
</style>
