<template>
  <div id="body_div_login">
    <div id="login_div">
      <form id="login_section">
        <b-field label="Username" :type="typeUser" :message="userMess">
          <b-input
            v-model="username"
            icon-right="icon_right"
            value=""
            @change.native="check_user(username)"
            maxlength="16"
          ></b-input>
        </b-field>

        <b-field label="Password" :type="typePass" :message="passMess">
          <b-input
            type="password"
            v-model="password"
            value=""
            @change.native="check_pass(password)"
            maxlength="32"
            password-reveal
          >
          </b-input>
        </b-field>
        <button id="loginButton" @click="login_check">Login</button>
        <b-button
          id="button_resgister"
          type="is-text"
          expanded
          @click="$router.push('/register')"
          >Register</b-button
        >
      </form>
    </div>
    <b-loading
      :is-full-page="true"
      v-model="isLoading"
      :can-cancel="false"
    ></b-loading>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import axios from "axios";
export default {
  computed: {
    ...mapGetters(["statusLogin", "message", "accessToken"]),
  },
  mounted() {
    if (this.statusLogin == "lmao") {
      this.$router.push("/chartpredict");
    }
  },
  methods: {
    async login_check(e) {
      e.preventDefault();
      if (this.typeUser == "is-success" && this.typePass == "is-success") {
        this.isLoading = true;
        await this.$store.dispatch("login", {
          username: this.username,
          password: this.password,
        });
        if (this.statusLogin === "lmao") {
          axios.defaults.headers.common = {
            Authorization: `Bearer ${this.accessToken}`,
          };
          this.$router.push("/chartpredict");
        } else {
          this.$alert(`Login error, ${this.message}`, "Error", "error");
        }
        this.isLoading = false;
      } else {
        this.$alert(
          "Login error, username or password is invalid!",
          "Error",
          "error"
        );
      }
    },
    check_user(text) {
      this.userLoad = true;
      if (text.length === 0) {
        this.typeUser = "is-danger";
        this.userMess = "Username cannot be empty";
      } else {
        let regex = /^[a-zA-Z0-9]+$/;
        if (regex.test(text)) {
          this.typeUser = "is-success";
          this.userMess = "Username is available";
        } else {
          this.typeUser = "is-danger";
          this.userMess = "Cannot use special characters";
        }
      }
      this.userLoad = false;
    },
    check_pass(text) {
      this.passLoad = true;
      if (text.length === 0) {
        this.typePass = "is-danger";
        this.passMess = "Password cannot be empty";
      } else {
        let regex = /^[a-zA-Z0-9]+$/;
        if (regex.test(text)) {
          this.typePass = "is-success";
          this.passMess = "Password is available";
        } else {
          this.typePass = "is-danger";
          this.passMess = "Cannot use special characters";
        }
      }
      this.passLoad = false;
    },
  },

  data() {
    return {
      isLoading: false,

      icon_right: "lmao",

      username: "",
      typeUser: "is-danger",
      userMess: "Username cannot be empty",
      userLoad: false,

      password: "",
      typePass: "is-danger",
      passMess: "Password cannot be empty",
      passLoad: false,
    };
  },
};
</script>

<style scope>
#body_div_login {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../public/background_login.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#login_div {
  position: relative;
  background-color: white;
  margin-top: 45vh;
  margin-left: 50%;

  transform: translate(-50%, -50%);
  width: 300px;
  height: 360px;
}

#login_section {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
}
#button_div_login {
  margin-top: 10%;
}

#button_resgister {
  margin-top: 5%;
}

#button_demo_chart {
  margin-top: 5%;
}

#loginButton {
  background-color: #15ce81;
  width: 100%;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#loginButton:hover {
  background-color: #0dad6b;
}
</style>
