<template>
  <div id="body_div_manager">
    <b-sidebar
      id="sideBar"
      type="is-white"
      :fullheight="fullheight"
      :fullwidth="fullwidth"
      :overlay="overlay"
      :right="right"
      v-model="open"
    >
      <div class="p-1">
        <img src="bogau.jpg" alt="Website dự báo chứng khoán Việt Nam" />
        <b-menu>
          <b-menu-list label="Quản trị">
            <b-menu-item
              icon="id-card"
              label="Danh sách người dùng"
              @click="
                userShow();
                getUserInfo();
              "
              :active="true"
            ></b-menu-item>
            <!-- <b-menu-item icon="key" label="Thay đổi thông tin" @click="changePassShow()"></b-menu-item> -->
          </b-menu-list>

          <b-menu-list label="Hành động">
            <b-menu-item
              icon="home"
              label="Trang chủ"
              @click="router_homePage"
            ></b-menu-item>
            <b-menu-item
              icon="door-open"
              label="Đăng xuất"
              @click="logout()"
            ></b-menu-item>
          </b-menu-list>
        </b-menu>
      </div>
    </b-sidebar>

    <div id="divTable" v-show="true">
      <b-tabs
        type="is-boxed"
        @input="reload_list_user_when_click_table"
        v-model="tab_info"
      >
        <b-tab-item label="Users">
          <b-table
            :data="data"
            :paginated="isPaginated"
            :per-page="perPage"
            :current-page.sync="currentPage"
            :pagination-simple="isPaginationSimple"
            :pagination-position="paginationPosition"
            :default-sort-direction="defaultSortDirection"
            :pagination-rounded="isPaginationRounded"
            :sort-icon="sortIcon"
            :sort-icon-size="sortIconSize"
            default-sort="user.first_name"
            aria-next-label="Next page"
            aria-previous-label="Previous page"
            aria-page-label="Page"
            aria-current-label="Current page"
            :page-input="hasInput"
            :pagination-order="paginationOrder"
            :page-input-position="inputPosition"
            :debounce-page-input="inputDebounce"
            :hoverable="true"
            @click.native="showSelected()"
            :selected.sync="selected"
            focusable
          >
            <b-table-column
              field="id"
              label="STT"
              width="40"
              sortable
              numeric
              v-slot="props"
            >
              {{ props.row.id }}
            </b-table-column>

            <b-table-column
              field="name"
              label="Tên người dùng"
              width="250"
              sortable
              :searchable="true"
              v-slot="props"
            >
              {{ props.row.name }}
            </b-table-column>

            <b-table-column
              field="user"
              label="Tên đăng nhập"
              sortable
              :searchable="true"
              v-slot="props"
            >
              {{ props.row.username }}
            </b-table-column>

            <b-table-column
              field="email"
              label="Email"
              sortable
              :searchable="true"
              v-slot="props"
            >
              {{ props.row.email }}
            </b-table-column>

            <b-table-column
              field="type_user"
              label="Dạng tài khoản"
              width="150"
              centered
              sortable
              :searchable="true"
              v-slot="props"
            >
              <span
                :class="
                  props.row.roleId == 1 ? 'tag is-success' : 'tag is-danger'
                "
              >
                {{ props.row.roleId }}
              </span>
            </b-table-column>

            <b-table-column
              field="create_date"
              label="Ngày tạo"
              sortable
              centered
              v-slot="props"
            >
              <span class="tag is-success">
                {{ props.row.createdAt.slice(0, 10) }}
              </span>
            </b-table-column>

            <b-table-column
              field="update_date"
              label="Ngày cập nhật"
              sortable
              centered
              v-slot="props"
            >
              <span class="tag is-success">
                {{ props.row.updatedAt.slice(0, 10) }}
              </span>
            </b-table-column>
          </b-table>
        </b-tab-item>

        <b-tab-item label="Selected">
          <b-message
            id="idMessageInTab"
            title="Thông tin tài khoản"
            type="is-primary"
            :closable="false"
          >
            <b-table :data="dataTableUser" :columns="columns"></b-table>
          </b-message>
        </b-tab-item>

        <b-tab-item label="Update">
          <b-message
            id="idMessageInTab"
            title="Cập nhật thông tin"
            type="is-primary"
            :closable="false"
          >
            <b-field label="Name">
              <b-input v-model="name_change" maxlength="24"></b-input>
            </b-field>

            <b-field label="Email">
              <b-input
                type="typeEmail"
                v-model="email_change"
                value=""
                maxlength="48"
              >
              </b-input>
            </b-field>

            <b-field label="Username">
              <b-input v-model="user_change" value="" maxlength="16"></b-input>
            </b-field>
            <b-field label="Type user">
              <b-input
                v-model="user_type_change"
                value=""
                maxlength="16"
              ></b-input>
            </b-field>
            <b-field>
              <b-button
                type="is-warning"
                expanded
                @click="admin_update_user_info"
                >Update</b-button
              >
            </b-field>
          </b-message>
        </b-tab-item>

        <b-tab-item label="Delete">
          <b-message
            id="idMessageInTab"
            title="Xoá tài khoản"
            type="is-primary"
            :closable="false"
          >
            <b-field>
              <b-button type="is-danger" expanded @click="admin_delete_user"
                >Delete this user</b-button
              >
            </b-field>
          </b-message>
        </b-tab-item>
      </b-tabs>
    </div>
    <b-loading
      :is-full-page="true"
      v-model="isLoading"
      :can-cancel="false"
    ></b-loading>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import axios from "axios";
export default {
  components: {},
  computed: {
    ...mapGetters(["statusLogin", "refreshToken", "username"]),
  },
  mounted() {
    try {
      this.isLoading = true;
      axios
        .post("getUser/", {
          refreshToken: this.refreshToken,
        })
        .then((response) => {
          if (response.data.statusCode == 10000) {
            this.isAdmin = response.data.data.role == "admin" ? true : false;
            this.get_all_user_info();
          } else {
            this.isAdmin = false;
            this.logout();
            this.$alert("Something went wrong", "Error", "error");
          }
        })
        .finally(() => (this.isLoading = false));
    } catch {
      this.isAdmin = false;
      this.logout();
    }
  },
  methods: {
    get_all_user_info() {
      if (this.isAdmin == true) {
        axios
          .get("handleUser/", {
            withCredentials: true,
          })
          .then((response) => {
            if (response.data.statusCode == 10000) {
              this.data = response.data.data;
            } else {
              this.logout();
              this.$alert("Something went wrong", "Error", "error");
            }
          });
      } else {
        this.$alert("You must be admin to use this page", "Error", "error");
      }
    },
    reload_list_user_when_click_table() {
      if (this.tab_info == 0) {
        this.get_all_user_info();
      }
    },
    showSelected() {
      this.dataTableUser = [
        { field: "Tên người dùng:  ", name: this.selected.name },
        { field: "Tên tài khoản:  ", name: this.selected.username },
        { field: "Email:  ", name: this.selected.email },
        { field: "Loại tài khoản:  ", name: this.selected.roleId },
        { field: "Ngày tạo tài khoản:  ", name: this.selected.createdAt },
        { field: "Ngày cập nhật:  ", name: this.selected.updatedAt },
      ];
      this.id_change = this.selected.id;
      this.name_change = this.selected.name;
      this.user_change = this.selected.username;
      this.email_change = this.selected.email;
      this.user_type_change = this.selected.roleId;
    },
    async logout() {
      await this.$store.dispatch("logout");
      this.$router.push("/login");
    },
    router_homePage() {
      this.$router.push("/");
    },
    admin_delete_user() {
      if (this.isAdmin == true) {
        axios
          .delete(`handleUser/${this.id_change}`, {
            withCredentials: true,
          })
          .then((response) => {
            if (response.data.statusCode == 10000) {
              //this.logout()
              this.$alert("Success!", "Success", "success");
            } else {
              this.$alert("Delete error!", "Error", "error");
            }
          });
      }
    },
    admin_update_user_info() {
      if (this.isAdmin == true) {
        axios
          .put(`handleUser/${this.id_change}`, {
            name: this.name_change,
            username: this.user_change,
            email: this.email_change,
            roleId: this.user_type_change,
            withCredentials: true,
          })
          .then((response) => {
            if (response.data.statusCode == 10000) {
              //this.logout()
              this.$alert("Success!", "Success", "success");
            } else {
              this.$alert("Invalid update", "Error", "error");
            }
          });
      }
    },
  },

  data() {
    return {
      isLoading: false,
      tab_info: 0,
      open: true,
      overlay: false,
      fullheight: true,
      fullwidth: false,
      right: false,
      isAdmin: false,
      dataTableUser: [],

      id_change: null,
      name_change: "",
      user_change: "",
      pass_change: "",
      email_change: "",
      active_change: "",
      user_type_change: "",

      isPaginated: true,
      isPaginationSimple: false,
      isPaginationRounded: false,
      paginationPosition: "bottom",
      defaultSortDirection: "asc",
      sortIcon: "arrow-up",
      sortIconSize: "is-small",
      currentPage: 1,
      perPage: 15,
      hasInput: false,
      paginationOrder: "",
      inputPosition: "",
      inputDebounce: "",

      data: [],
      selected: {},

      columns: [
        {
          field: "field",
          label: "",
        },
        {
          field: "name",
          label: "",
        },
      ],
    };
  },
};
</script>

<style scope>
#body_div_manager {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../public/backgroud_info.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#divTable {
  position: absolute;
  width: 100%;
  padding-top: 2%;
  padding-left: 280px;
  padding-right: 1%;
}
#idMessageInTab {
  position: relative;
  padding-left: 1%;
  width: 700px;
  height: 60%;
  left: 50%;
  margin-top: 26%;
  transform: translate(-50%, -50%);
}
</style>
