<template>
  <div id="body_div_register">
    <div id="register_div">
      <form id="register_section">
        <b-field label="Name" :type="typeName" :message="nameMess">
          <b-input
            v-model="name"
            icon-right="icon_right"
            :loading="nameLoad"
            @change.native="check_name(name)"
            maxlength="24"
          ></b-input>
        </b-field>

        <b-field label="Email" :type="typeEmail" :message="emailMess">
          <b-input
            type="typeEmail"
            icon-right="icon_right"
            v-model="email"
            @change.native="check_email(email)"
            value=""
            maxlength="48"
          >
          </b-input>
        </b-field>

        <b-field label="Username" :type="typeUser" :message="userMess">
          <b-input
            v-model="username"
            icon-right="icon_right"
            value=""
            @change.native="check_user(username)"
            maxlength="16"
          ></b-input>
        </b-field>

        <b-field label="Password" :type="typePass" :message="passMess">
          <b-input
            type="password"
            v-model="password"
            value=""
            maxlength="32"
            @change.native="check_pass(password)"
            password-reveal
          >
          </b-input>
        </b-field>
        <button id="registerButton" @click="register_check">Register</button>
        <b-button
          id="button_login"
          type="is-text"
          expanded
          @click="$router.push('/login')"
          >Login</b-button
        >
      </form>
    </div>
    <b-loading
      :is-full-page="full_page_loading"
      v-model="isLoading"
      :can-cancel="cancel_loading"
    ></b-loading>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["statusLogin", "message"]),
  },
  mounted() {
    if (this.status_login == "lmao") {
      this.$router.push("/chartpredict");
    }
  },
  methods: {
    async register_check(e) {
      e.preventDefault();
      if (
        this.typeName == "is-success" &&
        this.typeEmail == "is-success" &&
        this.typeUser == "is-success" &&
        this.typePass == "is-success"
      ) {
        this.isLoading = true;
        await this.$store.dispatch("register", {
          name: this.name,
          email: this.email,
          username: this.username,
          password: this.password,
        });
        if (this.statusLogin === "lmao") this.$router.push("/chartpredict");
        else {
          this.$alert(`Register error, ${this.message}`, "Error", "error");
        }
        this.isLoading = false;
      } else {
        this.$alert(
          "Register error, some fields are invalid!",
          "Error",
          "error"
        );
      }
    },
    check_name(text) {
      this.nameLoad = true;
      if (text.length === 0) {
        this.typeName = "is-danger";
        this.nameMess = "Name cannot be empty";
      } else {
        let regex = /^[a-zA-Z0-9]+$/;
        if (regex.test(text)) {
          this.typeName = "is-success";
          this.nameMess = "Name is available";
        } else {
          this.typeName = "is-danger";
          this.nameMess = "Cannot use special characters";
        }
      }
      this.nameLoad = false;
    },
    check_email(text) {
      this.emailLoad = true;
      if (text.length === 0) {
        this.typeEmail = "is-danger";
        this.emailMess = "Email cannot be empty";
      } else {
        let regex = /^[a-zA-Z0-9@.]+$/;
        if (regex.test(text)) {
          this.typeEmail = "is-success";
          this.emailMess = "Email is available";
        } else {
          this.typeEmail = "is-danger";
          this.emailMess = "Cannot use special characters";
        }
        let regex_email = "@";
        let total_regex = 0;
        let locate_regex = 0;

        for (let i = 0; i < text.length; i++) {
          if (text.slice(i, i + 1) === regex_email) {
            total_regex++;
            locate_regex = i + 1;
          }
        }
        if (
          total_regex == 1 &&
          locate_regex != text.length &&
          locate_regex != 1
        ) {
          this.typeEmail = "is-success";
          this.emailMess = "Email is available";
        } else {
          this.typeEmail = "is-danger";
          this.emailMess = "Email must be abc@abc...";
        }
      }
      this.emailLoad = false;
    },
    check_user(text) {
      this.userLoad = true;
      if (text.length === 0) {
        this.typeUser = "is-danger";
        this.userMess = "Username cannot be empty";
      } else if (text.length < 6) {
        this.typeUser = "is-danger";
        this.userMess = "Username must be 6 characters";
      } else {
        let regex = /^[a-zA-Z0-9]+$/;
        if (regex.test(text)) {
          this.typeUser = "is-success";
          this.userMess = "Username is available";
        } else {
          this.typeUser = "is-danger";
          this.userMess = "Cannot use special characters";
        }
      }
      this.userLoad = false;
    },
    check_pass(text) {
      this.passLoad = true;
      if (text.length === 0) {
        this.typePass = "is-danger";
        this.passMess = "Password cannot be empty";
      } else if (text.length < 6) {
        this.typePass = "is-danger";
        this.passMess = "Password must be 6 characters";
      } else {
        let regex = /^[a-zA-Z0-9]+$/;
        if (regex.test(text)) {
          this.typePass = "is-success";
          this.passMess = "Password is available";
        } else {
          this.typePass = "is-danger";
          this.passMess = "Cannot use special characters";
        }
      }
      this.passLoad = false;
    },
    check_verify(text) {
      this.verifyLoad = true;
      if (text.length === 0) {
        this.typeVerify = "is-danger";
        this.verifyMess = "Verification code cannot be empty";
      } else if (text.length < 6) {
        this.typeVerify = "is-danger";
        this.verifyMess = "Verification code must be 6 characters";
      } else {
        let regex = /^[a-zA-Z0-9]+$/;
        if (regex.test(text)) {
          this.typeVerify = "is-success";
          this.verifyMess = "Verification code is available";
        } else {
          this.typeVerify = "is-danger";
          this.verifyMess = "Cannot use special characters";
        }
      }
      this.verifyLoad = false;
    },
  },

  data() {
    return {
      full_page_loading: true,
      cancel_loading: false,
      isLoading: false,

      icon_right: "lmao",

      verifyLoad: false,
      verifyCode: "",
      verifyMess: "Please input verification code",
      typeVerify: "is-primary",

      name: "",
      typeName: "is-danger",
      nameMess: "Name cannot be empty",
      nameLoad: false,

      email: "",
      typeEmail: "is-danger",
      emailMess: "Email cannot be empty",
      emailLoad: false,

      username: "",
      typeUser: "is-danger",
      userMess: "Username cannot be empty",
      userLoad: false,

      password: "",
      typePass: "is-danger",
      passMess: "Password cannot be empty",
      passLoad: false,
    };
  },
};
</script>

<style scope>
#body_div_register {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../public/background_login.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#register_div {
  position: relative;
  background-color: white;
  margin-top: 45vh;
  margin-left: 50%;

  transform: translate(-50%, -50%);
  width: 350px;
  height: 580px;
}

#register_section {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
}

#button_div_register {
  margin-top: 10%;
}

#button_login {
  margin-top: 5%;
}

#modal_login {
  position: absolute;
  margin-top: 25%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

#registerButton {
  background-color: #15ce81;
  width: 100%;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#registerButton:hover {
  background-color: #0dad6b;
}
</style>
