<template>
  <div id="c_Chart">
    <b-loading
      :is-full-page="full_page_loading"
      v-model="isLoading"
      :can-cancel="cancel_loading"
    ></b-loading>

    <trading-vue
      id="trading_id"
      ref="tvjs"
      :data="chart"
      :toolbar="toolbar_show"
      :titleTxt="code_cp"
      :colorTitle="colors.colorText"
      :overlays="overlays"
      :width="this.width"
      :height="this.height * 0.92"
      :color-back="colors.colorBack"
      :color-grid="colors.colorGrid"
      :color-text="colors.colorText"
    >
    </trading-vue>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { TradingVue, DataCube } from "trading-vue-js";
import Overlays from "tvjs-overlays";
import axios from "axios";

export default {
  name: "app",
  components: { TradingVue },
  props: {
    hexData: String, //Object
  },
  computed: {
    ...mapGetters(["statusLogin", "refreshToken", "accessToken"]),
  },
  methods: {
    change_toolbar(check_toolbar) {
      this.toolbar_show = check_toolbar;
    },
    onResize() {
      this.width = window.innerWidth;
      this.height = window.innerHeight;
    },
    sleep(second) {
      setTimeout(() => {
        this.$router.go();
      }, second * 1000);
    },
    candleData(cp_code, modelName) {
      if (cp_code == "NULL" || modelName == null) {
        this.$alert(
          "Bạn phải chọn mã chứng khoán và mô hình trước",
          "Error",
          "error"
        );
        this.sleep(2);
      }
      this.$set(this, "chart", new DataCube());
      this.$refs.tvjs.resetChart();

      this.isLoading = true;
      const getCurrentData = axios.post("getdata/", {
        refreshToken: this.refreshToken,
        code: cp_code,
        state: "current",
      });
      const getPredictData = axios.post("getdata/", {
        refreshToken: this.refreshToken,
        code: cp_code,
        state: modelName,
      });
      Promise.all([getCurrentData, getPredictData])
        .then((values) => {
          const dataCurrent = values[0].data.data;
          const dataPredict = values[1].data.data;
          const mili_date = dataPredict.current_time;

          // Plot data current to chart
          this.chart.set("chart.data", dataCurrent.data);
          this.chart.add("onchart", {
            name: "Bollinger Bands, 25",
            type: "BB",
            data: [],
            settings: {
              showMid: false,
              color: "#D4AC0D",
              backColor: "#F7F9F9",
              length: 25,
            },
          });
          this.chart.add("onchart", {
            name: "Moving Average, 25",
            type: "SMA",
            data: [],
            settings: {
              length: 25,
              color: "#2980B9",
            },
          });
          this.chart.add("offchart", {
            name: "Relative Strength Index",
            type: "RSI",
            data: [],
            settings: {
              length: 25,
              color: this.colors.colorText,
            },
          });
          this.chart.add("onchart", {
            name: "Predict data",
            type: "Spline",
            data: [],
            settings: {
              lineWidth: 1.5,
              color: "#7D3C98",
            },
          });

          // Plot current timeline to chart
          this.chart.add("onchart", {
            name: "Data sections",
            type: "Splitters",
            data: [[mili_date, "You are here 🦆", 0, "#f4c20d", 0.95]],
            settings: {
              legend: false,
              lineWidth: 1.5,
            },
          });

          // Plot data predict to chart
          const data_predict = dataPredict.data.map(([timeC, value]) => [
            timeC,
            value,
          ]);
          this.chart.merge("onchart.Spline.data", data_predict);
          this.isLoading = false;

          this.code_cp = cp_code;
          this.chart.set("chart.indexBased", true);
        })
        .catch((error) => {
          this.$alert("Error when loading data!", "Error", "error");
          this.isLoading = false;
        });
    },
  },

  mounted() {
    window.addEventListener("resize", this.onResize);
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.onResize);
  },

  data() {
    return {
      full_page_loading: true,
      cancel_loading: false,
      isLoading: false,

      toolbar_show: false,
      code_cp: "",
      chart: {},
      overlays: [Overlays["BB"], Overlays["RSI"], Overlays["SMA"]],
      width: window.innerWidth,
      height: window.innerHeight,
      colors: {
        colorBack: "#fff",
        colorGrid: "#eee",
        colorText: "#333",
      },
    };
  },
};
</script>

<style>
#c_Chart {
  margin-top: 0.5%;
  margin-left: 0px;
  width: 100%;
  height: 100%;
}
</style>
