<template>
  <div id="UserStatusId">
    <b-dropdown :triggers="['hover']" aria-role="list">
      <template #trigger>
        <b-button
          type="is-warning"
          icon-left="hand-holding-dollar"
          icon-right="code"
        >
          <strong>Trạng thái đăng nhập</strong>
        </b-button>
      </template>

      <b-dropdown-item aria-role="listitem" @click="loopPics" v-show="isAdmin">
        <div class="media">
          <b-icon class="media-left" icon="images"></b-icon>
          <div class="media-content">
            <h3>Ảnh tĩnh</h3>
            <small>Kiểm tra nhanh</small>
          </div>
        </div>
      </b-dropdown-item>

      <b-dropdown-item aria-role="listitem" @click="routerUserInfo">
        <div class="media">
          <b-icon class="media-left" icon="home"></b-icon>
          <div class="media-content">
            <h3>Tài khoản</h3>
            <small>Thông tin tài khoản</small>
          </div>
        </div>
      </b-dropdown-item>

      <b-dropdown-item aria-role="listitem" @click="logout">
        <div class="media">
          <b-icon class="media-left" icon="door-open"></b-icon>
          <div class="media-content">
            <h3>Đăng xuất</h3>
            <small>Đăng xuất hệ thống</small>
          </div>
        </div>
      </b-dropdown-item>
    </b-dropdown>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import axios from "axios";

export default {
  name: "app",
  components: {},
  computed: {
    ...mapGetters(["statusLogin", "refreshToken"]),
  },
  methods: {
    loopPics() {
      this.$router.push("/image");
    },
    managerUser() {
      this.$router.push("/manager");
    },
    routerUserInfo() {
      this.$router.push("/userinfo");
    },
    async logout() {
      await this.$store.dispatch("logout");
      this.$router.push("/login");
    },
  },
  mounted() {
    try {
      axios
        .post("getUser/", {
          refreshToken: this.refreshToken,
        })
        .then((response) => {
          if (response.data.statusCode != 10000) {
            this.logout();
            this.$alert("Something went wrong!", "Error", "error");
          } else {
            if (response.data.data.role === "admin") {
              this.isAdmin = true;
            } else {
              this.isAdmin = false;
            }
          }
        });
    } catch {
      this.isAdmin = false;
    }
  },
  data() {
    return {
      isAdmin: false,
    };
  },
};
</script>

<style></style>
